<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TICKETS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="header-back">
        <h1>{{ user.username }}'s Support Tickets</h1>
        <a href="/admin_dash">BACK</a>
    </header>
    <table class="table">
        <tr>
            <th>Ticket ID</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Created</th>
            <th>Text</th>
        </tr>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.ticket_status }}</td>
            <td>{{ ticket.priority }}</td>
            <td>{{ ticket.created_at }}</td>
            <td>{{ ticket.ticket_text }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
